/* TILEMAP */
.tilemap {
    backface-visibility: hidden;
}

.tilemap .tile {
    border: none;
    border-radius: 0;
    min-width: auto;
    transition: 0.2s all;
}

.tilemap .tile:hover {
    border: solid 0.2vh #FFFFFF;
}

.tilemap .tile.request:hover {
    border: solid 0.2vh #30CB48;
}

.tilemap .tile.destroy {
    pointer-events: none;
}

.tilemap .tile.ground {
    background-color: transparent;
    pointer-events: none;
}

.tilemap .tile.path {
    border: solid 0.4vh #30CB48;
}

/* ADMIN */
.tilemap .admin {
    background-color: transparent;
    border: none;
    transition: 0.4s all;
}

.tilemap .admin:hover {
    border-top: solid 0.2vh #FFFFFF;
    border-left: solid 0.2vh #FFFFFF;
    border-right: solid 0.2vh #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.tilemap .admin.disable {
    pointer-events: none;
}

/* GEM */
.tilemap .gem {
    background-color: transparent;
    border: solid 0.3vh transparent;
    border-radius: 10px;
    min-width: auto;
    transition: 0.4s all;
}

.tilemap .gem:hover {
    border: solid 0.3vh #FFFFFF;
}

.tilemap .gem.request {
    border: solid 0.3vh #30CB48;
    pointer-events: none;
}

.tilemap .gem.hover {
    border: solid 0.3vh #FFFFFF;
}

.tilemap .gem.disable {
    pointer-events: none;
}

.tilemap .gem.mine {
    animation: mine-anim 0.3s infinite;
    transform-origin: bottom center;
}

@keyframes mine-anim {

    0%,
    100% {
        transform: translateX(0) rotate(0deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    20% {
        transform: translateX(1px) rotate(1deg);
    }

    30% {
        transform: translateX(-1px) rotate(-1deg);
    }

    40% {
        transform: translateX(1px) rotate(1deg);
    }

    50% {
        transform: translateY(-1px) rotate(-0.5deg);
    }

    60% {
        transform: translateY(1px) rotate(0.5deg);
    }

    70% {
        transform: translateX(-1px) rotate(-0.5deg);
    }

    80% {
        transform: translateX(1px) rotate(0.5deg);
    }
}

.tilemap .gem.carry {
    animation: carry-anim 1.2s ease-in-out infinite;
}

@keyframes carry-anim {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}

.toast {
    width: 32px;
    animation: gem-toast-anim 3.1s ease-in-out;
    z-index: 100;
}

@keyframes gem-toast-anim {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}