/* MENU */
.menus {
    background-color: #0B1438;
    z-index: 10000;
}

.version {
    bottom: 0.8vh;
    right: 0.8vh;
}

/* LOADING */
.loading {
    background-color: rgba(0, 0, 0);
}

.loader {
    border-top: 1.6vh solid rgb(94, 81, 243);
    border-right: 1.6vh solid rgb(89, 28, 219);
    border-bottom: 1.6vh solid rgb(137, 29, 170);
    border-left: 1.6vh solid rgb(123, 34, 56);
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* LAUNCH */
.launch {
    padding-top: 12.8vh;
}

/* SETTINGS */

/* ADMIN */
.menus .tabs {
    min-width: auto;
}

.menus .tab {
    background-size: 50%;
    min-width: auto;
}

.menus .close {
    right: 2vh;
    top: 2vh;
    min-width: auto;
}

.menus .home {
    background-size: 75%;
    left: 2vh;
    top: -4vh;
    min-width: auto;
}

.home-confirm {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
}

.menus .save {
    background-size: 75%;
    right: 2vh;
    top: -4vh;
    min-width: auto;
}

.menus .sprite {
    height: 10vh;
    width: 10vh;
    min-width: 3vh;
}

.menus .index {
    bottom: 0;
    right: 0;
}

.done {
    bottom: 0;
    left: 0;
}

.icon {
    height: 3vh;
    width: 3vh;
}

/* STORAGE */
.menus .item {
    width: calc(20% - 12px);
}

.menus .item .icon {
    height: 10vh;
    width: 10vh;
}

.menus .item .label {
    bottom: -0.2vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.menus .item .amount {
    right: 0.6vh;
    top: -0.2vh;
}

/* GEMS */
.menus .all {
    background-color: #30CB48;
    top: -8.5vh;
    left: 0;
    height: 7vh;
    width: 7vh;
    min-width: auto;
}

.menus .deploy {
    background-color: #30CB48;
    top: -8.5vh;
    left: 8vh;
    height: 7vh;
    width: 7vh;
    min-width: auto;
}

.menus .type {
    background-color: #30CB48;
    background-size: 5vh 5vh;
    top: -8.5vh;
    left: 16vh;
    height: 7vh;
    width: 7vh;
    min-width: auto;
}

.menus .destroy {
    background-color: #A50000;
    right: -0.8vh;
    top: -0.8vh;
    height: 4vh;
    width: 4vh;
    min-width: auto;
}

.destroy-confirm {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
}

/* WORKSHOP */
.workshop .count {
    top: -8vh;
    left: 0;
}

.workshop .craft .count {
    top: 50%;
    right: -4.5vh;
    left: inherit;
    transform: translateY(-50%);
    min-width: auto;
}

/* LAB */
.labs .lab {
    overflow: hidden;
}

.labs .lab.done {
    color: #FFFFFF;
}

.labs .lab-progress {
    background-color: transparent;
    border: none;
    left: 0;
    height: 100%;
    width: 100%;
}

.labs .sprite {
    height: 6vh;
    width: 6vh;
    min-width: 3vh;
}

.labs .icon {
    height: 6vh;
    width: 6vh;
}