/* MENU */
.menus {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
}

.menu {
    display: none;
    width: 100%;
}

/* LAUNCH */
.launch {
    align-items: center;
    background-color: rgb(24, 6, 62);
    flex-direction: column;
    gap: 32px;
    height: 100%;
    justify-content: center;
}

.launch .opt {
    background-color: rgb(94, 81, 243);
    border: solid 5px rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 24px;
    width: 200px;
}

/* SETTINGS */
.settings {
    background-color: rgb(89, 28, 219);
}

/* ADMIN */
.menus .admin {
    background-color: rgb(24, 6, 62);
    display: none;
    flex-direction: row;
    gap: 64px;
    height: calc(100% - 128px);
    padding: 64px;
    width: calc(100% - 128px);
}

.admin .tabs {
    align-items: center;
    background-color: rgb(89, 28, 219);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
    width: 15%;
}

.admin .tab {
    background-color: rgb(94, 81, 243);
    border: solid 5px rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 24px;
    width: calc(100% - 48px);
}

.admin .content {
    background-color: rgb(89, 28, 219);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
}

/* STORAGE */
.admin .content .storage {
    display: none;
    flex-direction: row;
    gap: 12px;
    height: 100%;
    width: 100%;
}

.storage .item {
    background-color: rgb(94, 81, 243);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    height: 15%;
    justify-content: center;
    width: 15%;
}

.item .label {
    align-items: center;
    display: flex;
    justify-content: center;
}

.item .amount {
    bottom: 10px;
    font-size: 16px;
    right: 10px;
}

/* GEMS */
.admin .content .gems {
    display: none;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.gems .page {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.gems .actions {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.gems .actions .action {
    background-color: rgb(94, 81, 243);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px 16px;
}

.gems .page .gem {
    align-items: center;
    background-color: rgb(94, 81, 243);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.gems .gem .sprite {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    height: 32px;
    width: 32px;
}

.gems .gem .data {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 66%;
}

.gems .gem .infos {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gems .gem .infos .info {}

.gems .gem .stats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gem .stats .stat {
    width: 33%;
}

.gems .gem .actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 15%;
}

.gem .actions .view {
    background-color: rgb(94, 81, 243);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    display: none;
    padding: 8px;
    width: 100%;
}

.gem .actions .deploy {
    background-color: rgb(94, 81, 243);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px;
    width: 100%;
}

/* WORKSHOP */
.admin .content .workshop {
    display: none;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.workshop .page {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.workshop .actions {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.workshop .actions .action {
    background-color: rgb(94, 81, 243);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px 16px;
}

.workshop .page .craft {
    align-items: center;
    background-color: rgb(94, 81, 243);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    height: 20%;
    justify-content: space-between;
    padding: 24px;
}

.craft .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.craft .data .info {
    display: flex;
    gap: 16px;
}

.craft .data .info .name {}

.craft .data .info .text {}

.craft .components {
    display: flex;
    gap: 16px;
}

.craft .comp {
    width: 100px;
}

.craft .run {
    background-color: rgb(94, 81, 243);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px 16px;
}

/* LAB */
.admin .content .labs {
    display: none;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.labs .stats {
    display: flex;
    gap: 12px;
}

.labs .page {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.labs .actions {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.labs .actions .action {
    background-color: rgb(94, 81, 243);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px 16px;
}

.labs .page .lab {
    align-items: center;
    background-color: rgb(94, 81, 243);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: none;
    height: 20%;
    justify-content: space-between;
    padding: 0 24px;
}

.lab .text {}

.lab .cost {}

.lab .done {
    display: none;
}

.lab .run {}

.lab .start {
    background-color: rgb(94, 81, 243);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px 16px;
}