/* UI */
.ui {
    z-index: 1000;
}

.ui.request {
    border: solid 10px #30CB48;
}

.ui .index {
    bottom: 0;
    right: 0;
}

/* ALERT */
.alerts {
    bottom: 0.8vh;
    z-index: 100000000;
}

.alert {
    background-color: #30CB48;
    color: #FFFFFF;
    max-width: 80%;
}

/* SCROLL */
.scroll-top {
    left: 50%;
    top: 0;
    height: 5vh;
    width: 20vh;
    transform: translate(-50%, 0);
    min-width: auto;
}

.scroll-bottom {
    left: 50%;
    bottom: 0;
    height: 5vh;
    width: 20vh;
    transform: translate(-50%, 0);
    min-width: auto;
}

.scroll-left {
    top: 50%;
    left: 0;
    height: 20vh;
    width: 5vh;
    transform: translate(0, -50%);
    min-width: auto;
}

.scroll-right {
    top: 50%;
    right: 0;
    height: 20vh;
    width: 5vh;
    transform: translate(0, -50%);
    min-width: auto;
}

/* GEM */
.gem-view {
    bottom: 1vh;
    left: 1vh;
    z-index: 1000;
}

.gem-view .close {
    top: -3vh;
    right: -3vh;
    width: 5vh;
    min-width: auto;
    height: 5vh;
}

.gem-view .sprite {
    width: 5vh;
    height: 5vh;
}

.gem-view .item {
    background-color: #6B648D;
    border-radius: 20px;
    color: #FFFFFF;
}

.gem-view .item .icon {
    width: 4vh;
    height: 4vh;
}

/* GEMS */
.ui .gems {
    bottom: 1vh;
    right: 1vh;
    z-index: 1000;
}

.ui .gems-icon {
    background-color: #30CB48;
    border-radius: 20px 10px;
    width: 8vh;
    height: 8vh;
    bottom: 1vh;
    right: 1vh;
    z-index: 1000;
}

.ui .gems .close {
    top: -3vh;
    left: -3vh;
    width: 5vh;
    min-width: auto;
    height: 5vh;
}

.ui .gems .all {
    background-color: #30CB48;
    top: -3vh;
    left: 3vh;
    width: 5vh;
    min-width: auto;
    height: 5vh;
}

.ui .gems .type {
    background-color: #30CB48;
    background-size: 3vh 3vh;
    top: -3vh;
    left: 8vh;
    width: 5vh;
    min-width: auto;
    height: 5vh;
}

.ui .gems .sprite {
    width: 5vh;
    height: 5vh;
}

/* BUILD */
.ui .build .close {
    top: -3vh;
    right: -3vh;
    width: 5vh;
    min-width: auto;
    height: 5vh;
}

/* ADMIN */
.ui .admin-icon {
    background-color: #30CB48;
    border-radius: 20px 10px;
    width: 8vh;
    height: 8vh;
    top: 1vh;
    left: 1vh;
    z-index: 1000;
}

/* QUEST */
.ui .quests {
    top: 1vh;
    right: 1vh;
    z-index: 1000;
}

.ui .quest {
    height: 5vh;
}

.ui .quest .icon {
    height: 3vh;
    width: 3vh;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.ui .quests-icon {
    background-color: #30CB48;
    border-radius: 10px 20px;
    width: 8vh;
    height: 8vh;
    top: 1vh;
    right: 1vh;
    z-index: 1000;
}

.ui .quests .close {
    bottom: -3vh;
    left: -3vh;
    width: 5vh;
    min-width: auto;
    height: 5vh;
}